/* Reset default margin and padding */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #4d1ea9;
}

header {
    background-color: #eb97c7;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #4d1ea9;
    padding: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c03375;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #eb97c7;
    border: 1px solid #9b6095;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eb97c7;
}