@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(3, 1fr); /* Three columns layout */
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
    }
    
}
/* Add specific styles for larger temples */
.temple-card {
    max-width: 400px;
}

.temple-card img {
    max-height: 200px;
}
